body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: Arial;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: 150px;
    gap: 10px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 32px;
    font-weight: bold;
    border-radius: 4px;
}

/* Colors */
.b1 { background: #00C8FF; }
.b2 { background: #FF4F1F; }
.b3 { background: #4169E1; }
.b4 { background: #FFD500; }
.b5 { background: #7F00FF; }
.b6 { background: #32CD32; }
.b7 { background: #FF8C69; }
.b8 { background: #20B2AA; }
.b9 { background: #7A0000; }
